body {
    background-color: beige;
}

.app {
    display: flex;
    padding: 0px 10px 0px 0px;
    width: 98%;
    margin: 0px auto;
    background-color: white;
    border: 1px black solid;
    margin-left: 20px; 
    margin-right: 20px;
}

img {
    width: 100px;
    height: 100px;
}

.szoveg {
    font-size: 30px;
    padding: 10px;
}

.kozep {
    padding: 10px;
}

.káefffffcéé {
    margin-top: 20px;
    margin-bottom: 20px;
}

.burgerking {
    margin-top: 20px;
    margin-bottom: 20px;
}

header button {
    width: 100px; 
    height: 50px; 
    border-radius: 5px; 
    margin: 20px; 
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

header button:hover {
    background-color: #e0e0e0;
}

header {
    background-color: rgba(85, 85, 85, 0.207);
    margin-bottom: 20px;
}

.felso {
    display: flex;
    text-align: center;
}

.felso h1 {
    margin: 0 auto;
    font-size: 40px;
}

ul {
    width: 400px;
    background-color: white;
    margin: 10px auto;
    height: 100px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
}

li {
    font-size: large;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-style: normal;
}

li a {
    color: blue;
    text-decoration: underline;
}

li a:hover {
    color: darkblue;
}